$aside = #233f5d

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import 'nib'

body
  margin 0
  padding 0
  font-family: 'Raleway', sans-serif;
header
  .wrapper
    margin 0
    padding 0
    max-width 100%
    position relative
    .content-wrapper
      float right
      width 100%


.content
  padding-left 20px
  position relative
  margin-left 320px
  clear both
  overflow auto
  color #777
.sidebar
  text-align center
  position fixed
  width 320px
  margin-right -320px
  float left
  background $aside
  color white !important
  height 100%
  .bio
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%
    display block;
    margin 0 auto
    .title
      h1
        font-weight: 700
        margin-bottom: 0px
      h2
        font-size: 19px
        margin 0px 0px 30px 0px
        font-weight: 300
        letter-spacing: 1.4px
    .avatar
      img
        width: 140px
        border-radius: 50%



@media only screen and (max-width: 768px)
  header
    .wrapper
      .sidebar
        margin-right 0
        width 100%
        position: relative;
        .title
          position: relative;
          top 0%
          left: 0%
      .content
        margin-left 0
